COSMOSDB_KEY=accesskey for cosmosdb
COSMOSDB_NAME=name od db instance
COSMOSDB_URI=uri of cosmosdb

NOTIFY_USER_QUEUE_CONNECTION=connection string to the associated storage account
NOTIFY_USER_QUEUE_NAME=name of the queue to append items to

SCRIPT_STORAGE_CONNECTION_STRING=<aValue>
PROFILE_TABLE_NAME=<aValue>
PROFILE_WITH_MESSAGE_TABLE_NAME=<aValue>
BATCH_RESULT_TABLE_NAME=<aValue>

DGC_SERVICE_ID=<ServiceId>