COSMOSDB_KEY=accesskey for cosmosdb
COSMOSDB_NAME=name od db instance
COSMOSDB_URI=uri of cosmosdb

NOTIFY_USER_QUEUE_CONNECTION=connection string to the associated storage account
NOTIFY_USER_QUEUE_NAME=name of the queue to append items to
